<%= form_with(model: building) do |form| %>
  <% if building.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(building.errors.count, "error") %> prohibited this building from being saved:</h2>

      <ul>
        <% building.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card mb-5 p-5 col-5">
  <div>
    <%= form.label :nombre, style: "display: block", class: "form-label" %>
    <%= form.text_field :nombre, class: "form-control" %>
  </div>

  <div>
    <%= form.label :direccion, "Dirección", style: "display: block", class: "form-label mt-3" %>
    <%= form.text_field :direccion, class: "form-control" %>
  </div>

  <div>
    <%= form.label :ciudad, style: "display: block", class: "form-label mt-3" %>
    <%= form.text_field :ciudad, class: "form-control" %>
  </div>

  <div>
    <%= form.submit "Enviar", class: "btn btn-dark mt-5" %>
  </div>
  </div>
<% end %>
