<p style="color: green"><%= notice %></p>

<div class="d-flex row justify-content-between">
<div class="card col-4 mb-5 p-5" >
  
  <div class="card-body">
    <h5 class="card-title mb-5">Edificio: <%= @building.nombre %> </h5>
    <p class="card-text">Id Edificio: <%= @building.id %> </p>
    <p class="card-text">Direccion: <%= @building.direccion %> </p>
    <p class="card-text">Ciudad: <%= @building.ciudad %> </p>
  </div>
</div>

<div class="col-3 me-5">
<table class="table mb-5">
    <thead>
      <tr>
        <th class="text-center">Departamentos</th>
        
      </tr>
    </thead>
    <tbody>

  <% @building.apartment.each do |apt| %>
    <tr>
    <td class="text-center"><%= apt.numero %></td>
    
    </tr>
  <% end %>

    </tbody>
</table>
</div>

<div>
  
  <%= link_to "Volver a Edificios", buildings_path, class: "btn btn-dark" %>

  
</div>


